---
layout: default
---
<div class="post">
    <header class="post-header">
        <h1><a href="{{site.baseurl}}{{ page.url }}">{{ page.title }}</a></h1>
        <p class="meta">
			<i class="fa fa-calendar"></i> 
			{{ page.date | date: "%Y-%m-%d" }}
			&nbsp&nbsp&nbsp
			<i class="fa fa-folder-open"></i>
			{% if page.category %} 
				<a href="{{site.baseurl}}/categories/#{{page.category}}">{{ page.category }}</a> 
			{% endif %}
			&nbsp&nbsp&nbsp
			<i class="fa fa-tags"></i>
			&nbsp
			{% for tag in page.tags %}
			&nbsp
				<a href="{{site.baseurl}}/tags/#{{ tag }}">{{ tag }}</a>
			{% endfor %}
		</p>
    </header>
    <article class="post-content">
        {{ content }}
    </article>
    {% include custom/duoshuo.html %}
</div>



<!-- 根据标题自动生成目录 -->
<script src="{{ "/js/jquery-catalog/jquery-catalog.js" | prepend:site.baseurl }}"></script>
<link rel="stylesheet" href="{{"/js/jquery-catalog/jquery-catalog.css"| prepend:site.baseurl}}">
<script>
	$(function(){
		var options = {
			root : $(".post-content")[0]
		};
		
		$(".toc").generateCatalog(options);
	});
</script>
